/* See license.txt for terms of usage */

/******************************************************************************/
/* xxxHonza: should we put those into panelbase.css? */

.netInfoTab.collapsed {
  display: none;
}

pre {
  margin: 0;
  font: inherit;
}

code {
  display: block;
  /*white-space: pre;*/
  color: #18191A;
  background-color: white;
  font-size: 11px;
  word-wrap: break-word;
}

/******************************************************************************/

.netInfoParamName {
  padding: 2px 10px 0 0;
  font-family: Lucida Grande, Tahoma, sans-serif;
  font-weight: bold;
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
}

.netInfoParamValue {
}

.netInfoHeadersGroup,
.netInfoPostParams,
.netInfoPostSource {
  margin-bottom: 4px;
  border-bottom: 1px solid #D7D7D7;
  padding-top: 8px;
  padding-bottom: 2px;
  font-family: Lucida Grande, Tahoma, sans-serif;
  font-weight: bold;
  color: #565656;
}

.netInfoCachedResponseHeadersBody {
  color: gray;
}

.netInfoPostParamsTable,
.netInfoPostPartsTable,
.netInfoPostJSONTable,
.netInfoPostXMLTable,
.netInfoPostSVGTable,
.netInfoPostSourceTable {
  margin-bottom: 10px;
  width: 100%;
}

.netInfoPostContentType {
  color: #bdbdbd;
  padding-left: 50px;
  font-weight: normal;
}

/******************************************************************************/
/* Request & Response Headers */

.netHeadersViewSource {
  margin-left: 200px;
}

.netPostParameterSort {
  margin-left: 30px;
}

.netHeadersViewSource,
.netPostParameterSort {
  color: #bdbdbd;
  font-weight: normal;
}

.netHeadersViewSource:hover,
.netPostParameterSort:hover {
  color: blue;
  cursor: pointer;
}

.netInfoHeadersTable > .netHeadersGroup > table,
.netInfoHeadersTable > .netHeadersGroup .netHeadersViewSource {
  /*display: none;*/
}

.netInfoHeadersTable > .netHeadersGroup.opened > table,
.netInfoHeadersTable > .netHeadersGroup.opened .netHeadersViewSource {
  display: inline-block;
}

.netInfoHeadersTable .netHeader {
  cursor: pointer;
  padding-left: 17px;
  position: static;
  -moz-user-select: none;
}

.netInfoHeadersTable .netHeadersViewSource {
  display: inline-block;
}
