/* See license.txt for terms of usage */

/******************************************************************************/
/* JSON Panel */

.jsonPanelBox {
  height: 100%;
}

.jsonPanelBox .jsonTree {
  overflow: auto;
  height: calc(100% - 20px);
}

/******************************************************************************/
/* JSON Tree */

.domTable {
}

.memberRow {
}

.memberChildren {
  padding-left: 16px;
}

.memberLabelCell,
.memberValueCell {
  display: table-cell;
}

.memberLabelCell {
  min-width: 30px;
}

.memberRow:hover {
  background-color: transparent !important;
}
