/* See license.txt for terms of usage */

/******************************************************************************/
/* JSON Panel */

.jsonPanelBox {
  height: 100%;
}

.jsonPanelBox .jsonTree {
  overflow: auto;
  height: calc(100% - 20px);
}