/* See license.txt for terms of usage */

/******************************************************************************/
/* Search Box */

.searchBox {
  height: 21px;
  font-size: 12px;
  margin-top: 2px;
  border: 1px solid rgb(170, 188, 207);
  width: 200px;
  position: fixed; /* xxxHonza: how to avoid fixed position? */
  right: 5px;
  background-image: url("search.svg");
  background-repeat: no-repeat;
  background-position: 2px center;
  padding-left: 20px;
}

/******************************************************************************/
/* Light Theme */

.theme-light .searchBox {
  border: 1px solid rgb(170, 170, 170);
  background-image: url("chrome://browser/skin/devtools/magnifying-glass-light.png");
  background-position: 8px center;
  border-radius: 2px;
  padding-left: 25px;
  height: 20px;
}
