/* See license.txt for terms of usage */

/******************************************************************************/
/* Text Panel */

.textPanelBox {
  height: 100%;
}

.textPanelBox .data {
  font-size: 11px;
  font-family: monospace;
  overflow: auto;
  height: calc(100% - 20px);
}
